.nav {
    padding: 0 3vw;
    background-color: rgb(16, 77, 191);
    color: white;
}
.left {
    display: flex;
    align-items: center;
    
   
}
.search-container{
   margin-left: 20px;
    background-color: rgb(64, 121, 202);
    height: 80%;
    padding-left: 10px;
   
    border-radius: 10px;
    border: 0;
}

.search-container input{
    height: 100%;
    margin-left: 20px;
    color: white;
    background-color: rgb(64, 121, 202);
    border: 0;
    border-radius: 10px;
}


.left input::placeholder {
    color: white; /* Set the color of the placeholder text */
}
